html {
  background-color: #EEE;
}

svg {
  background-color: #FFF;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line,
.border {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.guidelines {
  fill: #000;
  fill-opacity: 0.5;
}

.dot,
.legend {
  fill: #FFF;
  fill-opacity: 0.3;
}

.dot:hover {
  stroke-width: 6px;
}
