html {
  background-color: #EEE;
}

svg {
  background-color: #FFF;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line,
.border {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
